<script context="module" lang="ts">
 import FullPageError from "$lib/components/FullPageError/component.svelte";
</script>

<script lang="ts">
 import { page } from "$app/stores";

 const DEFAULT_TITLE = "Unexpected Error";
 const DEFAULT_DESCRIPTION = "An unexpected has occurred.";

 let title = $page.url.searchParams.get("title") ?? DEFAULT_TITLE;
 let description = $page.url.searchParams.get("description") ?? DEFAULT_DESCRIPTION;
</script>

<section class="page error">
  <FullPageError {title} showSupportEmail>
    { description }
  </FullPageError>
</section>
