<script lang="ts">
 import { onMount } from "svelte";
 import { page } from "$app/stores";
 import { goto } from "$app/navigation";

 import { replaceStateWithQuery } from "$lib/helpers/replaceStateWithQuery.ts";

 export let data;
 const seed = data.seed;
 const id = data.id;
 const neocity = data.neocity;

 onMount(() => {
   // Add a seed if the page doesn't have one
   const currentSeed = $page.url.searchParams.get("seed");
   replaceStateWithQuery({ seed });
 });
</script>
<body>

  <div class="floating-area flex flex-col items-center fixed bottom-4 right-4 p-4 rounded-lg cursor-pointer text-white bg-slate-800/75" style="z-index:999999">
    <p class="website-name">
      Done with <a class="underline text-white" href="https://{neocity.siteID}.neocities.org" target="_blank">{ neocity.siteID }.neocities.org</a> ?
    </p>
    <br/>
    <a href="/new">
      <button
        type="button"
        title="random neocities website"
        class="border-0 text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
        Next Neocities Website
      </button>
    </a>
  </div>

  <!-- iFrame -->
  <iframe id="geo_iframe"
          title="random neocities page ({ neocity.siteID }.neocities.org)"
          sandbox="allow-scripts allow-forms allow-same-origin allow-popups allow-modals"
          src="https://{ neocity.siteID }.neocities.org"
          class="geocities">
  </iframe>

</body>

<style>
 iframe.geocities {
   background-color: white;
   position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; z-index:100;
 }
</style>
