<script lang="ts">
 import { DEFAULT_SUPPORT_EMAIL } from "$lib/constants";

 import errorServerSVG from "./error-server.svg";

 export let env: Record<string, string> = {};
 export let title = "An error has occurred";
 export let subtitle;
 export let showSupportEmail = false;

 const SUPPORT_EMAIL = env.PUBLIC_SUPPORT_EMAIL ?? DEFAULT_SUPPORT_EMAIL;
</script>

<section class="page full-page-error flex flex-col justify-center items-center">
  <img style="max-height: 25vh" src="{errorServerSVG}" alt="server error" />

  <h1>{ title }</h1>

  {#if subtitle}
    <h2>{ subtitle }</h2>
  {/if}

  <slot/>

  {#if showSupportEmail}
    <p class="my-4">
      If the error persists, please <a class="underline" href="mailto:{SUPPORT_EMAIL}">contact support</a>.
    </p>
  {/if}
</section>
