:root {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
	min-height: 100vh;
	margin: 0;
}
